body {
  background-color: #cccccc;
  font-family: sans-serif;

  margin:  0;
  padding: 0;
}

#wrapper {
  background-color: #f0f0ff;
  margin:  0 auto;
  padding: 0 10pt;
  width:   6in;
}

#header {
  padding: 10pt 0;
}

#footer {
  padding: 10pt 0;
}

h1 {
  margin: 0;
}

#rule-meta {
  background-color: #ffffff;
  border-spacing: 0;
  cell-padding: 0;
  width: 100%;
}

#rule-edit td {
  border-top: 1px solid #ccc;
  border-bottom: 3px solid #ccc;
  padding: 5pt;
}

#rule-list td {
  border-bottom: 1px solid #ccc;
  padding: 5pt;
}

#rule-meta input {
  background-color: inherit;
  border-style: none none solid none;
}

#rule-meta input:invalid {
  border-color: red;
}
